* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

header {
  padding: 1rem 0;
  border-bottom: 1px solid #fff5f591;
  position: absolute;
  /* dung de ddee len  */
  width: 100%;
}
.container {
  width: 75%;
  margin: 0 auto;
}
.header__content {
  display: flex;
  align-items: center;
}

.header__content nav {
  margin-left: auto;
}

.header__content .logo {
  text-decoration: none;
  color: white;
}

.header__content i {
  font-size: 2rem;
}

.header__content span {
  font-size: 2rem;
  color: white;
}

.header__content nav ul {
  list-style: none;
}

.header__content nav ul li {
  display: inline;
  margin-left: 25px;
}

.header__content nav ul li a {
  text-decoration: none;
  /* color: white; */
  transition: all 0.5s;
  /* transition: hover co thoi gian */
  color: white;
}

/* class active danh cho li minh no */
.header__content nav ul li.active a {
  color: red;
}

/* hover vo co mau */
.header__content nav ul li:hover a {
  color: red;
}

/* carousel */

#carousel {
  background-image: url(../img/home_slider.jpg);
  background-size: cover;
  background-position: center;
  height: 700px;
  align-items: center;
  display: flex;
  justify-content: center;
  /* justify-content cang giua theo chieu ngang */
}

.carousel__content {
  text-align: center;
}

.carousel__content p {
  font-size: 2rem;
  color: white;
}
.carousel__content h1 {
  font-size: 4.7rem;
  color: white;
}

.carousel__content button {
  padding: 0.7rem 1.8rem;
  background-color: red;
  color: white;
  font-size: 1rem;
  border: 1px solid red;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
}

.carousel__content button:hover {
  background-color: #af2239;
}

.carousel__content .arrow i {
  font-size: 1.5rem;
  animation-duration: 1s;
  animation-name: arrow;
  animation-iteration-count: infinite;
}
/* services */

#services {
  background-color: black;
}

.py-100 {
  padding: 4.5rem 0;
}
.title p {
  color: red;
  font-weight: 200;
}

.title h1 {
  color: white;
  font-size: 2.8rem;
  font-weight: 500;
}

.title .customers {
  color: #888888;
}

.title {
  text-align: center;
}

.item_services {
  background-color: white;
  margin: 1rem;
  text-align: center;
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 200px;
  flex-direction: column;
  width: 200px;
}

.list_services {
  display: flex;
  justify-content: center;
}
.item_services i {
  font-size: 2rem;
}
.item_services::after {
  content: "";
  width: 5px;
  display: block;
  height: 0;
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
}

.item_services:hover::after {
  height: 100%;
  transition: 1s;
}

.slick-dots li button:before {
  font-size: 0.8rem;
  color: white;
}

.slick-dots li.slick-active button:before {
  color: red;
}

/* blog */

#blog .title p {
  color: gray;
}

#blog .title h1 {
  color: black;
}
#blog .title .customers {
  padding-bottom: 40px;
}

.blog_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: contrast(50%);
}

.blog_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.4rem;
}
.blog_item_1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.blog_item_10 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

.blog_item {
  position: relative;
}
.blog_overlay {
  position: absolute;
  top: 0;
  background: #ff000069;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
}
.blog_item:hover .blog_overlay {
  opacity: 1;
}
.blog_overlay .blog_overlay_icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.blog_overlay_text {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.blog_overlay .blog_overlay_icon i {
  background-color: white;
  padding: 0.5rem;
  color: black;
  transform: translateY(50px);
  transition: 0.5s;
}

.blog_overlay .blog_overlay_icon i:hover {
  background-color: black;
  color: white;
  transform: 0.5s;
}

.blog_overlay_text p {
  color: gray;
}
.blog_overlay_text h3 {
  color: white;
}
.blog_item:hover .blog_overlay .blog_overlay_icon i {
  transform: translateY(0);
}

.blog_overlay_text {
  transform: translateY(50px);
  transition: 0.5s;
}
.blog_item:hover .blog_overlay_text {
  transform: translateY(0);
}

/* statistics */
#statistics {
  background-color: black;
}

.statistics_title {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}

.counter {
  text-align: center;
  font-size: 3rem;
  color: white;
}

.statistics_item h3 {
  font-size: 1.2rem;
  color: gray;
}

/* digital */

#digital {
  background-image: url(../img/bussiness_img_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* hinh2 dung yen */
}

.digital_content video {
  width: 100%;
}

/* contact */

#contact .title h1 {
  color: black;
  font-size: 2.8rem;
}

#contact .title p {
  color: gray;
}

.contact_content {
  display: flex;
}

.contact_form {
  width: 40%;
  padding-left: 1rem;
}

.contact_map {
  width: 60%;
}

.contact_form form {
  display: flex;
  flex-direction: column;
}

.contact_form form input,
.contact_form form textarea {
  margin-bottom: 1rem;
  padding: 0.7rem;
}

.contact_form form input[type="button"] {
  margin-bottom: 0;
  background-color: black;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  transform: 0.5s;
}

.contact_form form input[type="button"]:hover {
  background-color: red;
  border-color: red;
}

/* footer  */

/* #footer {
  background-color: black;
}

.footer_title {
  display: flex;
}

.footer_left p {
  color: white;
  font-size: 0.8rem;
} */
.square {
  width: 200px;
  height: 200px;
  background-color: red;
  position: relative;
  animation-name: around;
  animation-duration: 2s;
  animation-iteration-count: 2s;
}

@keyframes around {
  /* from {}
  to { } */
  0% {
    top: 0;
    left: 0;
  }

  25% {
    top: 0;
    left: 200px;
  }

  50% {
    top: 200px;
    left: 200px;
  }

  75% {
    top: 200px;
    left: 0;
  }

  100% {
    top: 0;

    left: 0;
  }
}

@keyframes arrow {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(30px);
    opacity: 0;
  }
}

.backtotop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 2rem;
  background-color: gray;
  color: white;
  padding: 7px 25px;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 0.5;
}
